*.sql linguist-detectable=true
*.sql linguist-language=SQL
*.sqlite linguist-language=SQL
*.psql linguist-language=SQL
*.pgsql linguist-language=SQL
*.tsql linguist-language=SQL
*.mssql linguist-language=SQL
*.mariadb linguist-language=SQL
